In [1]:
import pandas as pd
import numpy as np

In [2]:
tips = pd.read_csv('yelp_academic_dataset_tip.csv')
tips = tips.drop('type',axis=1)
tips.head()

,business_id,date,likes,text,user_id
0,5UmKMjUEUNdYWqANhGckJw,2016-07-17,0,Pizza is garbage. Hoagies are excellent.,ZxdojCZgZhw36xuSGaryRg
1,cE27W9VPgO88Qxe4ol6y_g,2013-04-18,0,Don't waste your time.,-6rEfobYjMxpUWLNxszaxQ
2,mVHrayjG3uZ_RLHkLj-AMg,2016-02-22,0,Not easy to find. Be sure to put in directions...,5OumCBQ_MyQsltSdbMyunA
3,mVHrayjG3uZ_RLHkLj-AMg,2013-01-06,1,Your GPS will not allow you to find this place...,EZ0r9dKKtEGVx2CdnowPCw
4,KayYbHCt-RkbGcPdGOThNg,2013-12-03,0,Great drink specials!,xb6zEQCw9I-Gl0g06e1KsQ

In [3]:
review_fields = ['business_id', 'stars','user_id']
reviews = pd.read_csv('yelp_academic_dataset_review.csv', skipinitialspace=True, usecols=review_fields)
reviews.head()

              business_id  stars                 user_id
0  5UmKMjUEUNdYWqANhGckJw      4  PUFPaY9KxDAcGqfsorJp3Q
1  5UmKMjUEUNdYWqANhGckJw      5  Iu6AxdBYGR4A0wspR9BYHA
2  5UmKMjUEUNdYWqANhGckJw      5  auESFwWvW42h6alXgFxAXQ
3  5UmKMjUEUNdYWqANhGckJw      3  qiczib2fO_1VBG8IoCGvVg
4  5UmKMjUEUNdYWqANhGckJw      2  qEE5EvV-f-s7yHC0Z4ydJQ

In [19]:
ratings = reviews.groupby(['business_id'],as_index=False).mean()
ratings['rounded_stars'] = ratings['stars'].round()
ratings.head()

              business_id     stars  rounded_stars
0  --0ZoBTQWQra1FxD4rBWmg  2.000000            2.0
1  --1emggGHgoG6ipd_RMb-g  3.333333            3.0
2  --4Pe8BZ6gj57VFL5mUE8g  2.750000            3.0
3  --5jkZ3-nUPZxUvtcbr8Uw  4.580357            5.0
4  --7PRjnsjMA6uhPK8mW13Q  2.666667            3.0

In [4]:
review_users = pd.DataFrame(reviews.groupby('business_id')['user_id'].apply(list))
review_users = review_users.reset_index()
review_users = review_users.rename(columns = {'user_id':'review_user_ids'})
review_users.head()

              business_id                                    review_user_ids
0  --0ZoBTQWQra1FxD4rBWmg  [3qWT-hhx44Yl48UcX7fdQQ, tTQwXGXwGrcEnrJ4gziGA...
1  --1emggGHgoG6ipd_RMb-g  [5hBsVMJOc8sXMPt8S3NjmA, 6DuBPBgCN6YMowFwrp_P5...
2  --4Pe8BZ6gj57VFL5mUE8g  [VZ4mMMnCgs1GbKeS6sYQ5g, ky9pQ8AKufvZ63IxR41jG...
3  --5jkZ3-nUPZxUvtcbr8Uw  [DBz7nWHg6tLK1JzLFOtU3A, Cp-PV8rsypbO-xBrQ6KmQ...
4  --7PRjnsjMA6uhPK8mW13Q  [auqBgz4mEY8y9bA59l3rUw, WcDdWdsxmOYPxtbRRr1Ia...

In [5]:
tip_users = pd.DataFrame(tips.groupby('business_id')['user_id'].apply(list))
tip_users = tip_users.reset_index()
tip_users = tip_users.rename(columns = {'user_id':'tip_user_ids'})
tip_users.head()

              business_id                                       tip_user_ids
0  --0ZoBTQWQra1FxD4rBWmg   [tTQwXGXwGrcEnrJ4gziGAg, 3qWT-hhx44Yl48UcX7fdQQ]
1  --1emggGHgoG6ipd_RMb-g  [6DuBPBgCN6YMowFwrp_P5g, jt4zoa6tk5q-4mWtuKHEP...
2  --4Pe8BZ6gj57VFL5mUE8g   [epN0_Z-MWmx1DxO0FC7k9w, 3I0Ks0eAf3QjD3EvP2qFGw]
3  --5jkZ3-nUPZxUvtcbr8Uw  [rAfN_eXc7PvtISk2ZIZfGQ, ByOxnioKRball6-8UXn04...
4  --BlvDO_RG2yElKu9XA1_g  [J4G0JoXgs6m1OVJCzD-DPA, 0g8cmPNYOqbON3O0pUAVs...

In [11]:
business_data = pd.merge(tip_users, review_users, on='business_id')
business_data.head()

,business_id,tip_user_ids,review_user_ids
0,--0ZoBTQWQra1FxD4rBWmg,"[tTQwXGXwGrcEnrJ4gziGAg, 3qWT-hhx44Yl48UcX7fdQQ]","[3qWT-hhx44Yl48UcX7fdQQ, tTQwXGXwGrcEnrJ4gziGA..."
1,--1emggGHgoG6ipd_RMb-g,"[6DuBPBgCN6YMowFwrp_P5g, jt4zoa6tk5q-4mWtuKHEP...","[5hBsVMJOc8sXMPt8S3NjmA, 6DuBPBgCN6YMowFwrp_P5..."
2,--4Pe8BZ6gj57VFL5mUE8g,"[epN0_Z-MWmx1DxO0FC7k9w, 3I0Ks0eAf3QjD3EvP2qFGw]","[VZ4mMMnCgs1GbKeS6sYQ5g, ky9pQ8AKufvZ63IxR41jG..."
3,--5jkZ3-nUPZxUvtcbr8Uw,"[rAfN_eXc7PvtISk2ZIZfGQ, ByOxnioKRball6-8UXn04...","[DBz7nWHg6tLK1JzLFOtU3A, Cp-PV8rsypbO-xBrQ6KmQ..."
4,--BlvDO_RG2yElKu9XA1_g,"[J4G0JoXgs6m1OVJCzD-DPA, 0g8cmPNYOqbON3O0pUAVs...","[aIiqXKu34mQ9XksPhdy84g, AMKwiwTcPdi0GR50fASd_..."

In [12]:
business_data['tip_count'] = ''
business_data['tip_user_count'] = ''
business_data['review_user_count'] = ''
business_data['overlap_user_count'] = ''
for i in business_data.index:
    
    business_data['tip_count'][i] = len(business_data['tip_user_ids'][i])
    
    tip_set = set(business_data['tip_user_ids'][i])
    review_set = set(business_data['review_user_ids'][i])
    
    business_data['tip_user_count'][i] = len(tip_set)
    business_data['review_user_count'][i] = len(review_set)
    
    business_data['overlap_user_count'][i] = len(tip_set & review_set)

business_data.head()

,business_id,tip_user_ids,review_user_ids,tip_count,tip_user_count,review_user_count,overlap_user_count
0,--0ZoBTQWQra1FxD4rBWmg,"[tTQwXGXwGrcEnrJ4gziGAg, 3qWT-hhx44Yl48UcX7fdQQ]","[3qWT-hhx44Yl48UcX7fdQQ, tTQwXGXwGrcEnrJ4gziGA...",2,2,4,2
1,--1emggGHgoG6ipd_RMb-g,"[6DuBPBgCN6YMowFwrp_P5g, jt4zoa6tk5q-4mWtuKHEP...","[5hBsVMJOc8sXMPt8S3NjmA, 6DuBPBgCN6YMowFwrp_P5...",7,5,3,3
2,--4Pe8BZ6gj57VFL5mUE8g,"[epN0_Z-MWmx1DxO0FC7k9w, 3I0Ks0eAf3QjD3EvP2qFGw]","[VZ4mMMnCgs1GbKeS6sYQ5g, ky9pQ8AKufvZ63IxR41jG...",2,2,8,2
3,--5jkZ3-nUPZxUvtcbr8Uw,"[rAfN_eXc7PvtISk2ZIZfGQ, ByOxnioKRball6-8UXn04...","[DBz7nWHg6tLK1JzLFOtU3A, Cp-PV8rsypbO-xBrQ6KmQ...",27,25,111,9
4,--BlvDO_RG2yElKu9XA1_g,"[J4G0JoXgs6m1OVJCzD-DPA, 0g8cmPNYOqbON3O0pUAVs...","[aIiqXKu34mQ9XksPhdy84g, AMKwiwTcPdi0GR50fASd_...",23,21,112,9

In [20]:
business_data = pd.merge(business_data, ratings, on='business_id')
business_data.head()

,business_id,tip_user_ids,review_user_ids,tip_count,tip_user_count,review_user_count,overlap_user_count,stars,rounded_stars
0,--0ZoBTQWQra1FxD4rBWmg,"[tTQwXGXwGrcEnrJ4gziGAg, 3qWT-hhx44Yl48UcX7fdQQ]","[3qWT-hhx44Yl48UcX7fdQQ, tTQwXGXwGrcEnrJ4gziGA...",2,2,4,2,2.000000,2.0
1,--1emggGHgoG6ipd_RMb-g,"[6DuBPBgCN6YMowFwrp_P5g, jt4zoa6tk5q-4mWtuKHEP...","[5hBsVMJOc8sXMPt8S3NjmA, 6DuBPBgCN6YMowFwrp_P5...",7,5,3,3,3.333333,3.0
2,--4Pe8BZ6gj57VFL5mUE8g,"[epN0_Z-MWmx1DxO0FC7k9w, 3I0Ks0eAf3QjD3EvP2qFGw]","[VZ4mMMnCgs1GbKeS6sYQ5g, ky9pQ8AKufvZ63IxR41jG...",2,2,8,2,2.750000,3.0
3,--5jkZ3-nUPZxUvtcbr8Uw,"[rAfN_eXc7PvtISk2ZIZfGQ, ByOxnioKRball6-8UXn04...","[DBz7nWHg6tLK1JzLFOtU3A, Cp-PV8rsypbO-xBrQ6KmQ...",27,25,111,9,4.580357,5.0
4,--BlvDO_RG2yElKu9XA1_g,"[J4G0JoXgs6m1OVJCzD-DPA, 0g8cmPNYOqbON3O0pUAVs...","[aIiqXKu34mQ9XksPhdy84g, AMKwiwTcPdi0GR50fASd_...",23,21,112,9,3.796610,4.0

In [24]:
business_fields = ['business_id','categories','review_count','stars']
# maybe want later -> city, latitude, longitude, name, state
businesses = pd.read_csv('yelp_academic_dataset_business.csv', skipinitialspace=True, usecols=business_fields)

### DO CATEGORY SIMPLIFICATION HERE!!! ###

businesses = businesses.rename(columns = {'review_count':'business_review_count', 'stars':'business_stars'})
businesses.head()

,business_id,categories,business_review_count,business_stars
0,5UmKMjUEUNdYWqANhGckJw,"Fast Food,Restaurants",7,3.5
1,UsFtqoBl7naz8AVUBZMjQQ,Nightlife,5,3.0
2,cE27W9VPgO88Qxe4ol6y_g,"Active Life,Mini Golf,Golf",5,2.5
3,mVHrayjG3uZ_RLHkLj-AMg,"Bars,American (New),Nightlife,Lounges,Restaurants",26,4.5
4,mYSpR_SLPgUVymYOvTQd_Q,"Active Life,Golf",3,5.0

In [25]:
temp = pd.merge(business_data, businesses, on='business_id')
temp.head()

,business_id,tip_user_ids,review_user_ids,tip_count,tip_user_count,review_user_count,overlap_user_count,stars,rounded_stars,categories,business_review_count,business_stars
0,--0ZoBTQWQra1FxD4rBWmg,"[tTQwXGXwGrcEnrJ4gziGAg, 3qWT-hhx44Yl48UcX7fdQQ]","[3qWT-hhx44Yl48UcX7fdQQ, tTQwXGXwGrcEnrJ4gziGA...",2,2,4,2,2.000000,2.0,"Property Management,Home Services,Real Estate",4,2.0
1,--1emggGHgoG6ipd_RMb-g,"[6DuBPBgCN6YMowFwrp_P5g, jt4zoa6tk5q-4mWtuKHEP...","[5hBsVMJOc8sXMPt8S3NjmA, 6DuBPBgCN6YMowFwrp_P5...",7,5,3,3,3.333333,3.0,"Food,Convenience Stores",4,4.0
2,--4Pe8BZ6gj57VFL5mUE8g,"[epN0_Z-MWmx1DxO0FC7k9w, 3I0Ks0eAf3QjD3EvP2qFGw]","[VZ4mMMnCgs1GbKeS6sYQ5g, ky9pQ8AKufvZ63IxR41jG...",2,2,8,2,2.750000,3.0,"Shopping,Office Equipment",9,3.0
3,--5jkZ3-nUPZxUvtcbr8Uw,"[rAfN_eXc7PvtISk2ZIZfGQ, ByOxnioKRball6-8UXn04...","[DBz7nWHg6tLK1JzLFOtU3A, Cp-PV8rsypbO-xBrQ6KmQ...",27,25,111,9,4.580357,5.0,"Greek,Vegetarian,Mediterranean,Restaurants",127,4.5
4,--BlvDO_RG2yElKu9XA1_g,"[J4G0JoXgs6m1OVJCzD-DPA, 0g8cmPNYOqbON3O0pUAVs...","[aIiqXKu34mQ9XksPhdy84g, AMKwiwTcPdi0GR50fASd_...",23,21,112,9,3.796610,4.0,"Sushi Bars,Hawaiian,Chinese,Restaurants",122,4.0